.info 
    {
        background-color: RGB(250,250,210);
        border-radius: 10px;
        border: solid 2px black;
    }
.lablec a
    {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

.lablec a:hover
    {
        color:red;
        font-style: italic;
    }

p
    {
        text-align: justify;
    }

